@font-face {
    font-family: NoeDisplay;
    src: url("fonts/NoeDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'ApercuMono';
    src: url("fonts/FontsFree-Net-ApercuMono.ttf") format("truetype");
}

BODY {
    font-family: 'ApercuMono';
    font-size:  medium;
    width: auto;
    background-color: #F9EFDB;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-left: 0px;
    border-top: 20px solid #12372A;
    border-bottom: 20px solid #12372A;
    margin-top: 3ex;
}

.darkgreen {
    color: #12372A;
}

#bigname {
    font-size: 110%; 
}

H1 { 
    font-family: 'NoeDisplay', san-serif;
    font-size: xxx-large;
    color: #436850; 
}

H2 { 
    font-size: x-large; 
    font-weight: bold; 
    color: #12372A;
    /*border-bottom: 1px solid #ADBC9F; */
}

H3 { 
    font-size: large; 
    font-weight: bold; 
    color: #12372A;
}

figure {
    display: table;
    border: 0px #cccccc solid;
    padding: 10px;
    margin: auto;
}
  
figcaption {
    display: table-caption;
    caption-side: bottom;
    background-color: #436850;
    color: #F9EFDB;
    font-style: italic;
    font-size: small;
    padding: 10px;
    text-align: center;
}

p {
    margin-right: 10px;
}
  
.clear {
    clear: both;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}