@font-face {
    font-family: 'NoeDisplay';
    src: url("fonts/NoeDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'ApercuMono';
    src: url("fonts/FontsFree-Net-ApercuMono.ttf") format("truetype");
}

BODY {
    font-family: 'ApercuMono';
    font-size: medium;
    width: auto;
    background-color: #F9EFDB;
    padding-left: 20px;
    border-bottom: 20px solid #12372A;
    margin-top: 3ex;
}

.darkgreen {
    color: #12372A;
}

#bigname {
    font-size: 110%; 
}

H1 { 
    font-family: 'NoeDisplay', san-serif;
    font-size: xxx-large;
    color: #436850; 
}

H2 { 
    font-size: x-large; 
    font-weight: bold; 
    color: #12372A;
    /*border-bottom: 1px solid #ADBC9F; */
}

H3 { 
    font-size: large; 
    font-weight: bold; 
    color: #12372A;
}

figure {
    display: flex;
    width: 100%;
    border: 0px #cccccc solid;
    margin: 0px;
    padding: 0 px;
}
  
figcaption {
    display: table-caption;
    caption-side: bottom;
    background-color: #436850;
    color: #F9EFDB;
    font-style: italic;
    font-size: small;
    padding: 10px;
    text-align: center;
} 

.responsive {
    width: 100%;
    max-width: 500px;
    height: auto;
}

p {
    margin-right: 0px;
    margin-block-start: 0px;
    padding-bottom: 1px;
} 
  
.clear {
    clear: both;
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
    margin-left: 10px;
}

.nav-button {
    border: none;
    background: #F9EFDB;
    padding-left: none;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: black
}

nav {
    overflow: hidden;
    display: flex;
    justify-content: left;
    border-bottom: 10px solid #12372A;
    padding-bottom: 12px;
}

nav a {
    float: right;
    text-align: center;
    
}

nav a:hover {
    background-color: #436850;
}

hr {
    color: #12372A;
    width: 100;
}

.container {
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 95%;
    height: 100%;
    
}

.container-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-150px-fixed {
    width: 150px;
}

.col-flex {
    flex-grow: 1;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin-top: 20px;
    width: 80%;
    justify-content: center;
    
}

.add-line {
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .container-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    #left, #right {
        width: 100%;
        margin: 0px;
    }
    
    .responsive {
        width: 100%;
        max-width: 100%;
        
    }
}